# PostgreSQL
PGUSER=postgres
PGPASSWORD=mysecretpassword
# Will be generated for Node 1: chainlink_node_1
PGDATABASE=chainlink_node
PGPORT=5432

# Chainlink API Credentials
CHAINLINK_EMAIL=admin@example.com
# Password should be more than 15 symbols. Example for Node 2: yoursuperpassword2
CHAINLINK_PASSWORD=yoursuperpassword

# Chainlink Configuration
# Password should be more than 15 symbols. Example for Node 2: yourkeystorepassword2
CHAINLINK_KEYSTORE_PASSWORD=yourkeystorepassword
CHAINLINK_CHAIN_ID=5611
CHAINLINK_WS_URL=wss://opbnb-testnet.nodereal.io/ws/v1/e9a36765eb8a40b9bd12e680a1fd2bc5
CHAINLINK_HTTP_URL=https://opbnb-testnet-rpc.bnbchain.org
CHAINLINK_GAS_PRICE=10000000000
