services:
  db:
    image: postgres:17
    shm_size: 128mb
    environment:
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      POSTGRES_DB: ${PGDATABASE}
    ports:
      - '${PGPORT}:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - /etc/timezone:/etc/timezone:ro
      - ./scripts/init-database.sql:/docker-entrypoint-initdb.d/init-database.sql
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${PGUSER} -d ${PGDATABASE}']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  chainlink-node-1:
    image: smartcontract/chainlink:2.26.0
    container_name: chainlink-node-1
    platform: linux/arm64
    user: '0:0' # Run as root
    ports:
      - '6688:6688'
    volumes:
      - ./scripts/chainlink-universal.entrypoint.sh:/entrypoint.sh:ro
      - chainlink-node-1-data:/chainlink
    depends_on:
      db:
        condition: service_healthy
    entrypoint: ['bash', '/entrypoint.sh']
    restart: unless-stopped
    environment:
      - NODE_NUMBER=1
    env_file:
      - .env

  chainlink-node-2:
    image: smartcontract/chainlink:2.26.0
    container_name: chainlink-node-2
    platform: linux/arm64
    user: '0:0'
    ports:
      - '6689:6688'
    volumes:
      - ./scripts/chainlink-universal.entrypoint.sh:/entrypoint.sh:ro
      - chainlink-node-2-data:/chainlink
    depends_on:
      db:
        condition: service_healthy
    entrypoint: ['bash', '/entrypoint.sh']
    restart: unless-stopped
    environment:
      - NODE_NUMBER=2
    env_file:
      - .env

  # Легко добавить третью ноду
  chainlink-node-3:
    image: smartcontract/chainlink:2.26.0
    container_name: chainlink-node-3
    platform: linux/arm64
    user: '0:0'
    ports:
      - '6690:6688'
    volumes:
      - ./scripts/chainlink-universal.entrypoint.sh:/entrypoint.sh:ro
      - chainlink-node-3-data:/chainlink
    depends_on:
      db:
        condition: service_healthy
    entrypoint: ['bash', '/entrypoint.sh']
    restart: unless-stopped
    environment:
      - NODE_NUMBER=3
    env_file:
      - .env

  chainlink-node-4:
    image: smartcontract/chainlink:2.26.0
    container_name: chainlink-node-4
    platform: linux/arm64
    user: '0:0'
    ports:
      - '6691:6688'
    volumes:
      - ./scripts/chainlink-universal.entrypoint.sh:/entrypoint.sh:ro
      - chainlink-node-4-data:/chainlink
    depends_on:
      db:
        condition: service_healthy
    entrypoint: ['bash', '/entrypoint.sh']
    restart: unless-stopped
    environment:
      - NODE_NUMBER=4
    env_file:
      - .env

  chainlink-node-5:
    image: smartcontract/chainlink:2.26.0
    container_name: chainlink-node-5
    platform: linux/arm64
    user: '0:0'
    ports:
      - '6692:6688'
    volumes:
      - ./scripts/chainlink-universal.entrypoint.sh:/entrypoint.sh:ro
      - chainlink-node-5-data:/chainlink
    depends_on:
      db:
        condition: service_healthy
    entrypoint: ['bash', '/entrypoint.sh']
    restart: unless-stopped
    environment:
      - NODE_NUMBER=5
    env_file:
      - .env

volumes:
  postgres-data:
  chainlink-node-1-data:
  chainlink-node-2-data:
  chainlink-node-3-data:
  chainlink-node-4-data:
  chainlink-node-5-data:
