services:
  db:
    image: postgres:17
    shm_size: 128mb
    environment:
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      POSTGRES_DB: ${PGDATABASE}
    ports:
      - '${PGPORT}:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - /etc/timezone:/etc/timezone:ro
      - ./scripts/init-database.sql:/docker-entrypoint-initdb.d/init-database.sql
    env_file:
      - .env
    restart: unless-stopped
    networks:
      chainlink-network:
        ipv4_address: 10.5.0.8
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${PGUSER} -d ${PGDATABASE}']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  chainlink-node-1:
    image: &cl_image smartcontract/chainlink:2.27.0
    container_name: chainlink-node-1
    platform: linux/arm64
    user: '0:0' # Run as root
    ports:
      - '6688:6688'
    depends_on:
      db:
        condition: service_healthy
    networks:
      chainlink-network:
        ipv4_address: 10.5.0.9
    restart: unless-stopped
    environment:
      - NODE_NUMBER=1
    env_file:
      - .env
    entrypoint: &cl_entrypoint ["/entrypoint.sh"]
    volumes:
      - ./chainlink-node-1-data:/chainlink
      - &cl_script_entry ./scripts/chainlink-universal.entrypoint.sh:/entrypoint.sh:ro
      - &cl_script_init ./scripts/init-chainlink.sh:/init-chainlink.sh:ro
      - &cl_script_publish ./scripts/publish-jobs.sh:/publish-jobs.sh:ro
      - &cl_templates ./data-feed-generator/templates:/templates:ro

  chainlink-node-2:
    image: *cl_image
    container_name: chainlink-node-2
    platform: linux/arm64
    user: '0:0'
    ports:
      - '6689:6688'
    networks:
      chainlink-network:
        ipv4_address: 10.5.0.10
    depends_on:
      chainlink-node-1:
        condition: service_started
      db:
        condition: service_healthy
    entrypoint: *cl_entrypoint
    volumes:
      - ./chainlink-node-2-data:/chainlink
      - *cl_script_entry
      - *cl_script_init
      - *cl_script_publish
      - *cl_templates
    restart: unless-stopped
    environment:
      - NODE_NUMBER=2
    env_file:
      - .env

  # Легко добавить третью ноду
  chainlink-node-3:
    image: *cl_image
    container_name: chainlink-node-3
    platform: linux/arm64
    user: '0:0'
    ports:
      - '6690:6688'
    entrypoint: *cl_entrypoint
    volumes:
      - ./chainlink-node-3-data:/chainlink
      - *cl_script_entry
      - *cl_script_init
      - *cl_script_publish
      - *cl_templates
    networks:
      chainlink-network:
        ipv4_address: 10.5.0.11
    depends_on:
      chainlink-node-1:
        condition: service_started
      db:
        condition: service_healthy
    restart: unless-stopped
    environment:
      - NODE_NUMBER=3
    env_file:
      - .env

  chainlink-node-4:
    image: *cl_image
    container_name: chainlink-node-4
    platform: linux/arm64
    user: '0:0'
    ports:
      - '6691:6688'
    networks:
      chainlink-network:
        ipv4_address: 10.5.0.12
    depends_on:
      chainlink-node-1:
        condition: service_started
      db:
        condition: service_healthy
    entrypoint: *cl_entrypoint
    volumes:
      - ./chainlink-node-4-data:/chainlink
      - *cl_script_entry
      - *cl_script_init
      - *cl_script_publish
      - *cl_templates
    restart: unless-stopped
    environment:
      - NODE_NUMBER=4
    env_file:
      - .env

  chainlink-node-5:
    image: *cl_image
    container_name: chainlink-node-5
    platform: linux/arm64
    user: '0:0'
    ports:
      - '6692:6688'
    networks:
      chainlink-network:
        ipv4_address: 10.5.0.13
    depends_on:
      chainlink-node-1:
        condition: service_started
      db:
        condition: service_healthy
    entrypoint: *cl_entrypoint
    volumes:
      - ./chainlink-node-5-data:/chainlink
      - *cl_script_entry
      - *cl_script_init
      - *cl_script_publish
      - *cl_templates
    restart: unless-stopped
    environment:
      - NODE_NUMBER=5
    env_file:
      - .env

volumes:
  postgres-data:
  chainlink-node-1-data:
  chainlink-node-2-data:
  chainlink-node-3-data:
  chainlink-node-4-data:
  chainlink-node-5-data:

networks:
  chainlink-network:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/16
          gateway: 10.5.0.1
